/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    KEY: @fd — Fade
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@use '../config' as c;
@use '../mixins' as m;

@include m.key('@fd') {
  --AN: #{c.$kf-2};
  --AOP0: 0;
  --AOP1: 1;
}

@include m.key('@fd-o') {
  --AOP0: 1;
  --AOP1: 0;
}
