/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MODIFIER: _speed — duration multiplier
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@use '../config' as c;
@use '../mixins' as m;

@include m.key('_speed') {
  --AS: var(--Als);
}

@each $plus, $v in c.$ramp-up {
  @include m.key('_speed-up#{$plus}') {
    --Als: #{$v};
  }
}

$speed-down: ('': 2, '+': 4, '++': 6, '+++': 8);

@each $plus, $v in $speed-down {
  @include m.key('_speed-down#{$plus}') {
    --Als: #{$v};
  }
}
